<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type = "user.bean.UserDTO" alias = "user"/>
	</typeAliases>
	<environments default="development">
		<environment id = "development">
			<transactionManager type = "JDBC"/>
			
			<!-- type : POOLED, UNPOOLED, JNDI (Java Naming and Directory Interface) -->
			<!-- 커네션풀 사용여부 -->
			<dataSource type ="POOLED">
				<property name = "driver" value = "oracle.jdbc.driver.OracleDriver"/>
				<property name = "url" value = "jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name = "username" value = "dbdb"/>
				<property name = "password" value = "itbank"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="user/dao/userMapper.xml"/>
	</mappers>
</configuration>